body {
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .date-heading {
    margin-top: 40px;
    font-size: 20px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }
  .sub-container{
    width: 100%;
    margin-top: 0;
  }

  h2{
    margin-bottom: 0;
  }
  .sub-container tr:hover td {
    background-color: #ffffff; /* 鼠标悬停时的背景颜色 */
  }

  .sub-container tr:hover td.semester {
    background-color: initial; /* 恢复初始背景颜色 */
  }

  .lgBtn{
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }