{% extends 'base.html' %}

{% block MainContent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/academicRecords.css') }}">









<div class="container">
    <h1>My Academic Records</h1>

    <h2>Transcript</h2>
    <table class="sub-container">
        <tr>
            <th width="10%">Semester</th><th width="10%">Course Code</th><th width="60%">Course Name</th><th width="10%">Grade</th>
        </tr>

        {% for semester in academicRecordsData['general'].keys() %}
        <tr>
          <td class="semester" rowspan="{{academicRecordsData['general'][semester]|length}}"><h2>{{semester}}</h2></td>
          {% for course in academicRecordsData['general'][semester] %}
              <td>{{course['courseCode']}}</td>
              <td>{{course['courseName']}}</td>
              <td>{{course['grade']}}</td>
              </tr>
              <tr>
          {% endfor %} 
        </tr>
        {% endfor %}
    </table>
    <h2>Others</h2>
    <table class="sub-container">
      <tr>
        <th width="10%">Date</th><th width="80%">Event / Competion Name</th><th width="10%">Award/Rank</th>
    </tr>  
    {% for item in academicRecordsData['others'] %}
    <tr>
      <td>{{item['date']}}</td>
      <td>{{item['event']}}</td>
      <td>{{item['award']}}</td>
      

    </tr>
    {% endfor %}
    </table>
</div>
<script>

</script>



{% endblock %}