{% extends 'base.html' %}

{% block MainContent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='/css/adminTool.css') }}">
<div class="container">


    <div class="sub-container">
        <h1>個別注冊</h1>
        <div class = "horizontal">
            <button class="lgBtn" onclick="showStudentForm()">學生注冊</button>
            <button class="lgBtn" onclick="showTeacherForm()">教師注冊</button>
        </div>



        
        <form id="studentForm" action="/register/student" method="post" style="display: none;">
            <h2>學生注冊</h2>


            <label for="AccountID">AccountID：</label>
            <input type="text" id="AccountID" name="AccountID" required><br>

            <label for="LastName">LastName：</label>
            <input type="text" id="LastName" name="LastName" required><br>

            <label for="FirstName">FirstName：</label>
            <input type="text" id="FirstName" name="FirstName" required><br>

            <label for="Sex">Sex：</label>
            <input type="text" id="Sex" name="Sex" required><br>

            <label for="HKId">HKID</label>
            <input type="text" id="HKId" name="HKId" required><br>

            <label for="Birthday">Birthday：</label>
            <input type="text" id="Birthday" name="Birthday" required><br>

            <label for="Adderss">Address：</label>
            <input type="text" id="Adderss" name="Adderss" required><br>

            <label for="PhoneNo">PhoneNo：</label>
            <input type="text" id="PhoneNo" name="PhoneNo" required><br>

            <label for="SpecialEducationalNeeds">SpecialEducationalNeeds：</label>
            <input type="text" id="SpecialEducationalNeeds" name="SpecialEducationalNeeds" required><br>

            <label for="Nationality">Nationality：</label>
            <input type="text" id="Nationality" name="Nationality" required><br>


            <button class="lgBtn" type="submit">提交</button>
        </form>

            
        <form id="teacherForm" action="/register/teacher" method="post" style="display: none;">
            <h2>教師注冊</h2>
            <label for="AccountID">AccountID：</label>
            <input type="text" id="AccountID" name="AccountID" required><br>

            <label for="LastName">LastName：</label>
            <input type="text" id="LastName" name="LastName" required><br>

            <label for="FirstName">FirstName：</label>
            <input type="text" id="FirstName" name="FirstName" required><br>

            <label for="Sex">Sex：</label>
            <input type="text" id="Sex" name="Sex" required><br>

            <label for="HKId">HKID</label>
            <input type="text" id="HKId" name="HKId" required><br>

            <label for="Birthday">Birthday：</label>
            <input type="text" id="Birthday" name="Birthday" required><br>

            <label for="Adderss">Address：</label>
            <input type="text" id="Adderss" name="Adderss" required><br>

            <label for="PhoneNo">PhoneNo：</label>
            <input type="text" id="PhoneNo" name="PhoneNo" required><br>

            <label for="SpecialEducationalNeeds">SpecialEducationalNeeds：</label>
            <input type="text" id="SpecialEducationalNeeds" name="SpecialEducationalNeeds" required><br>

            <label for="Nationality">Nationality：</label>
            <input type="text" id="Nationality" name="Nationality" required><br>


            <button class="lgBtn" type="submit">提交</button>
        </form>
    </div>
    <div class="sub-container">
        <h1> 以xlsx大量注冊</h1>
        <form action="/register/xlsx" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button class="lgBtn" type="submit">上傳</button>
        </form>
    </div>
    <div class="sub-container">
        <h1> 編輯所有賬號資料</h1>
            <form onsubmit="event.preventDefault(); searchJSON();">
              <label for="searchTerm">以AccountID搜索：</label>
              <input type="text" id="searchTerm" name="searchTerm" required>
              <button class="lgBtn" type="submit">查询</button>
            </form>
            <div id="resultsContainer"></div>
    </div>

    <div class="sub-container">
        <h1> 課程</h1>
        
        
            <form action="course/create" method="post" enctype="multipart/form-data">
                <!-- <label for="season">选择季节：</label> -->
                <!-- <select id="season" name="season">
                    <option value="">请选择</option>
                    <option value="">请选择</option>
                    <option value="">请选择</option>
                </select> -->
                <h2>建立課程</h2>
                <hr>
                <label for="courseCode">Course Code</label>
                <input type="text" name="courseCode">
                <br><br>
                <label for="courseName">Course Name</label>
                <input type="text" name="courseName">
                <input type="submit" value="提交"><hr>
            </form>
            
            <form action="course/add" method="post" enctype="multipart/form-data">
                <h2>新增課程到指定學期</h2><hr>
                 <label for="courseCode">課程編號：</label> 
                 <select id="courseCode" name="courseCode">
                    {% for course in courseList %}
                    <option value="{{course}}">{{course}}</option>
                    {% endfor %}

                </select> 
                <br><br>
                <label for="semester">選擇學期：</label> 
                <select id="semester" name="semester">
                    {% for Option in SemesterOptions %}
                    <option value="{{Option}}">{{Option}}</option>
                    {% endfor %}

               </select> 
                <input type="submit" value="提交">
            </form>

            
            <form action="course/registration/student" method="post" enctype="multipart/form-data">
                <h2> 以xlsx新增學生到指定學期的課程</h2><hr>
                <label for="courseCode">課程編號：</label> 
                <select id="courseCode" name="courseCode">
                   {% for course in courseList %}
                   <option value="{{course}}">{{course}}</option>
                   {% endfor %}

               </select> 
               <br><br>
               <label for="semester">選擇學期：</label> 
               <select id="semester" name="semester">
                   {% for Option in SemesterOptions %}
                   <option value="{{Option}}">{{Option}}</option>
                   {% endfor %}

              </select> <br><br>
                <input type="file" name="file"><br><br>
                <button class="lgBtn" type="submit">上傳</button>
            </form>


            <form action="course/registration/teacher" method="post" enctype="multipart/form-data">
                <h2> 以xlsx新增老師到指定學期的課程</h2><hr>
                <label for="courseCode">課程編號：</label> 
                <select id="courseCode" name="courseCode">
                   {% for course in courseList %}
                   <option value="{{course}}">{{course}}</option>
                   {% endfor %}

               </select> 
               <br><br>
               <label for="semester">選擇學期：</label> 
               <select id="semester" name="semester">
                   {% for Option in SemesterOptions %}
                   <option value="{{Option}}">{{Option}}</option>
                   {% endfor %}

              </select> <br><br>
              <label for="AccountID">Course Code</label>
              <input type="text" name="AccountID">
                
                <button class="lgBtn" type="submit">上傳</button>
            </form>
    </div>
</div>



<script>
    function showStudentForm() {
        document.getElementById("studentForm").style.display = "block";
        document.getElementById("teacherForm").style.display = "none";
    }

    function showTeacherForm() {
        document.getElementById("studentForm").style.display = "none";
        document.getElementById("teacherForm").style.display = "block";
    }

    
    // 水平滾輪
    const container = document.querySelector('.container');
    container.addEventListener('wheel', (event) => {
        event.preventDefault();

        container.scrollLeft += event.deltaY;
    });
    function edit(AccountID) {
        console.log(AccountID);
        fetch('/personal-info/' + AccountID)
        }
    function createRedirectButton(text, url) {
        var button = document.createElement("button");
        button.textContent = text;

        button.addEventListener("click", function() {
            window.location.href = url; // 设置独立的重定向地址
        });

        return button;
        }
    function searchJSON() {
      var searchTerm = document.getElementById("searchTerm").value.toLowerCase();

      fetch('/GetAccountData')
        .then(response => response.json())
        .then(jsonData => {
            // jsonData = JSON.stringify(jsonData);
            
        //   document.getElementById("json-data").innerText = jsonData;
            
            var results = [];
            var resultsID = [];
            for (var i = 0; i < jsonData.length; i++) {
                var entry = jsonData[i];
                console.log(entry['AccountID']);
                console.log(entry);
                var accountID = entry['AccountID'].toString();
                
                if (accountID.includes(searchTerm)) {

                    results.push(entry['AccountID'].toString() + " | " + entry['LastName'].toString() + " " + entry['FirstName'].toString());
                    resultsID.push(entry['AccountID'].toString())
                }
            }

            var resultsContainer = document.getElementById("resultsContainer");
            resultsContainer.innerHTML = "";
            if (results.length > 0) {
                for (var j = 0; j < results.length; j++) {
                var result = results[j];
                var resultID = resultsID[j];
                var resultContainer = document.createElement("div");
                resultContainer.id = "resultContainer"

                var resultElement = document.createElement("p");
                

                resultElement.textContent = " " + (j + 1) + ". " + result;
                var resultButton = createRedirectButton("編輯", "/personal-info/" + resultID)

                

                resultContainer.appendChild(resultElement);
                resultContainer.appendChild(resultButton);
                resultsContainer.appendChild(resultContainer);
                }
            } else {
                var noResultElement = document.createElement("p");
                noResultElement.textContent = "No results found.";
                resultsContainer.appendChild(noResultElement);
            }
        })
        .catch(error => {
          console.error("加载 JSON 文件时出错:", error);
        });



    }
</script>


{% endblock %}
