
{% extends 'base.html' %}

{% block MainContent %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/home.css') }}">

    <div class="image-container" >
        <!-- <img src="\static\image\Campus.jpg" alt="Logo"> -->
        <div class="menu-container">

            <ul>
                
                <li><a href="/personal-info">Personal Info</a></li>
                <li><a href="/academicRecords">Academic records</a></li>

                {% if role == "3"%}
                <li><a href="/adminTool">Administrator tools</a></li>
                {% endif %}


                <li><a href="/logout">Logout</a></li>

              </ul>
        </div>
    </div>

    <!-- 更多首页内容 -->
{% endblock %}