
{% extends 'base.html' %}

{% block MainContent %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css') }}">

    <div class="image-container" >

        <div class="menu-container">

            <ul>
                
                <li><a class="homeBtn" href="/personal-info">Personal Info</a></li>

                <li><a class="homeBtn" href="/course">My Course</a></li>


                <li><a class="homeBtn" href="/academicRecords">Academic records</a></li>

                {% if role == "3"%}
                <li><a class="homeBtn" href="/adminTool">Administrator Tools</a></li>
                {% endif %}


                <li><a class="homeBtn" href="/logout">Logout</a></li>

              </ul>
        </div>
    </div>

{% endblock %}