
{% extends 'base.html' %}

{% block MainContent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/personal-info.css') }}">
<div class="container">
    

    <table>
        <tr>
            <td colspan="3" class="title" >


              
                <h1 style="margin-right: 5px;">Personal Information</h1>

                <div class="buttonsArea" style="flex: 1;">
                  <button onclick="editText()" class="editbutton" >Edit</button>
                </div>

            </td>
        
          <tr>

            <th>Type</th>
            <th colspan="2">Details</th>
          </tr>
          <tr>
            
            <td>Name</td>
            <td>
                
                <span class="text" id="LastNameText" >{{accountData['LastName']}}</span><span span class="text" id="FirstNameText">{{accountData['FirstName']}}</span>
                {% if role == "3" or role == "2" %}
                <div class="input-field">
                  <label for="LastNameField">LastName:</label>
                  <br>
                  <input type="text" id="LastNamefield" class="input-field" value="{{accountData['LastName']}}">
                  <br><br>
                  <label for="LastNameField">FirstName:</label>
                  <br>
                  <input type="text" id="FirstNamefield" class="input-field" value="{{accountData['FirstName']}}">
                </div>

                {% endif %}
            </td>
            <td rowspan="5"><div class="icon-container"><img src={{icon_path}} height-max ="80"></div></td>
          </tr>
          <tr>
            <td>Sex</td>
            <td>
                <span class="text" id="SexText">{{accountData['Sex']}}</span>
                {% if role == "3" or role == "2" %}
                <input type="text" id="Sexfield" class="input-field" value="{{accountData['Sex']}}">
                {% endif %}
            </td>
          </tr>
          <tr>
            <td>HKID</td>
            <td>
              <span class="text" id="HKIDText">{{accountData['HKID']}}</span>
              {% if role == "3" or role == "2" %}
              <input type="text" id="HKIDfield" class="input-field" value="{{accountData['HKID']}}">
              {% endif %}
            </td>
              
          </tr>
          <tr>
            <td>Role</td>
            <td>
                {% if AccRole == "3"%}
                Administrator
                {% endif %}
                
                {% if AccRole == "1"%}
                學生
                {% endif %}

                {% if AccRole == "2"%}
                教師
                {% endif %}
            </td>
          </tr>
          <tr>
            <td>Addresses</td>
            <td>
              <span class="text" id="AddressText">{{accountData['Address']}}</span>
              {% if role == "3" %}
              <input type="text" id="Addressfield" class="input-field" value="{{accountData['Address']}}">
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>PhoneNo</td>
            <td>
              <span class="text" id="PhoneNoText">{{accountData['PhoneNo']}}</span>

              <input type="text" id="PhoneNofield" class="input-field" value="{{accountData['PhoneNo']}}">

            </td>
            <td class="buttonTD"><button onclick="openPopup()">上傳頭像</button></td>
          </tr>
          <tr>
            <td>Special Educational Needs</td>
            <td colspan="2">
              <span class="text" id="SpecialEducationalNeedsText">{{accountData['SpecialEducationalNeeds']}}</span>
              {% if role == "3"%}
              <input type="text" id="SpecialEducationalNeedsfield" class="input-field" value="{{accountData['SpecialEducationalNeeds']}}">
              {% endif %}
            </td>

          </tr>
          <tr>
            <td>Nationality</td>
            <td colspan="2">
              <span class="text" id="NationalityText">{{accountData['Nationality']}}</span>
              
              {% if role == "3"%}
                <input type="text" id="Nationalityfield" class="input-field" value="{{accountData['Nationality']}}">
              {% endif %}
                
              
            </td>
          </tr>
          <tr>
            <td>
              <button id="Nationality" type="submit" onclick="submitEdit(this.id)" class="submit-button" style="display: none;">提交</button>
            </form>
              <button onclick="cancelEdit()" class="cancel-button" style="display: none;">取消</button>
            </td>
          </tr>
        </table>


        <script>
            function closePopupAndReload() {
            window.opener.location.reload();  // 重新加载父窗口页面
            window.close();  // 关闭弹出窗口
          }


            let textElements = document.querySelectorAll('.text');
            let inputElements = document.querySelectorAll('.input-field');
            let editButton = document.querySelector('.editbutton');
            let cancelButton = document.querySelector('.cancel-button');
            let submitButton = document.querySelector('.submit-button');

            
            let LastNameText = document.querySelector('#LastNameText');
            let FirstNameText= document.querySelector('#FirstNameText');
            let LastNamefield = document.querySelector('#LastNamefield');
            let FirstNamefield = document.querySelector('#FirstNamefield');


            let SexText = document.querySelector('#SexText');
            let Sexfield = document.querySelector('#Sexfield');

            let HKIDText = document.querySelector('#HKIDText');
            let HKIDfield = document.querySelector('#HKIDfield');

            let AddressesText = document.querySelector('#AddressText');
            let Addressesfield = document.querySelector('#Addressfield');

            let PhoneNoText = document.querySelector('#PhoneNoText');
            let PhoneNofield = document.querySelector('#PhoneNofield');
            
            let SpecialEducationalNeedsText = document.querySelector('#SpecialEducationalNeedsText');
            let SpecialEducationalNeedsfield = document.querySelector('#SpecialEducationalNeedsfield');

            let NationalityTexts = document.querySelector('#NationalityTexts');
            let Nationalityfield = document.querySelector('#Nationalityfield');

            

            function editText() {

              for (let textElement of textElements) {
                textElement.style.display = 'none';
              }
              for (let inputElement of inputElements) {
                inputElement.style.display = 'block';
              }
              if (LastNamefield == null){
                LastNameText.style.display = 'block';
                }
              if (FirstNamefield == null){
                FirstNameText.style.display = 'block';
              }
              if (PhoneNofield == null){
                PhoneNoText.style.display = 'block';
              }
              if (Sexfield == null){
                SexText.style.display = 'block';
              }
              if (HKIDfield == null){
                HKIDText.style.display = 'block';
              }
              if (Addressesfield == null){
                AddressesText.style.display = 'block';
              }
              if (PhoneNofield == null){
                PhoneNoTex.style.display = 'block';
              }
              if (SpecialEducationalNeedsfield == null){
               SpecialEducationalNeedsText.style.display = 'block';
              }
              if (Nationalityfield == null){
               NationalityText.style.display = 'block';
              }


                editButton.style.display = 'none';
                cancelButton.style.display = 'inline-block';
                submitButton.style.display = 'inline-block';
            }

            function cancelEdit() {

                for (let textElement of textElements) {
                  textElement.style.display = 'inline-block';
                }
                for (let inputElement of inputElements) {
                inputElement.style.display = 'none';
                }
                if (LastNamefield != null){
                LastNamefield.value = LastNameText.textContent;
                }
                if (FirstNamefield != null){
                FirstNamefield.value = FirstNameText.textContent;
                }
                if (PhoneNofield != null){
                PhoneNofield.value = PhoneNoText.textContent;
                }
                if (Sexfield != null){
                Sexfield.value = SexText.textContent;
                }
                if (HKIDfield != null){
                  HKIDfield.value = HKIDText.textContent;
                }
                if (Addressesfield != null){
                Addressesfield.value = AddressesText.textContent;
                }
                if (PhoneNofield != null){
                PhoneNofield.value = PhoneNoText.textContent;
                }
                if (SpecialEducationalNeedsfield != null){
                SpecialEducationalNeedsfield.value = SpecialEducationalNeedsText.textContent;
                }
                if (Nationalityfield != null){
                Nationalityfield.value = NationalityText.textContent;
                }


                // let updatedText = textElement.textContent;
                // inputElement.value = updatedText;


                editButton.style.display = 'inline-block';
                cancelButton.style.display = 'none';
                submitButton.style.display = 'none';
            }

            function submitEdit(element) {
              
              const data = {}
              
              if (LastNamefield != null){
                  data.LastName = LastNamefield.value 
                }
                if (FirstNamefield != null){
                  data.FirstName = FirstNamefield.value 
                }
                if (PhoneNofield != null){
                  data.PhoneNo = PhoneNofield.value 
                }
                if (Sexfield != null){
                  data.Sex = Sexfield.value
                }
                if (HKIDfield != null){
                  data.Sex = HKIDfield.value
                }
                if (Addressesfield != null){
                  data.Address = Addressesfield.value 
                }
                if (PhoneNofield != null){
                  data.PhoneNo = PhoneNofield.value 
                }
                if (SpecialEducationalNeedsfield != null){
                  data.SpecialEducationalNeeds = SpecialEducationalNeedsfield.value 
                }
                if (Nationalityfield != null){
                  data.Nationality = Nationalityfield.value
                }
                const path = window.location.pathname;
                const parts = path.split('/');

                // 获取路径中的最后一个部分（c）
                const lastPart = parts[parts.length - 1];
                console.log(lastPart)
                if (lastPart != 'personal-info'){
                  fetch('/editInfo/' + lastPart, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                  })
                  .then(response => {
                    location.reload();
                  })
                  .catch(error => {
                    console.log('请求发生错误:', error);
                  })
                }
                else{
                  fetch('/editInfo', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                  })
                  .then(response => {
                    location.reload();
                  })
                  .catch(error => {
                    console.log('请求发生错误:', error);
                  })
                }

            }
            function openPopup() {
              var popup = window.open('', 'popup', 'width=400,height=300');
              if ( "{{role}}"!= "3"){
                var html = `
                  <html>
                  <head>
                    <title>弹出窗口表单</title>
                  </head>
                  <body>
                      <div class="popup-form">
                      <h1>上传文件</h1>
                      <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="closePopupAndReload()">
                          <input type="file" name="file">
                          <button type="submit">上传</button>
                      </form>
                      </div>
                  </body>
                  
                  </html>
                  
                  `;
              }
              else{
                var html = `
                  <html>
                  <head>
                    <title>弹出窗口表单</title>
                  </head>
                  <body>
                      <div class="popup-form">
                      <h1>上传文件</h1>
                      <form action="/upload/{{accountData['AccountID']}}" method="post" enctype="multipart/form-data" onsubmit="closePopupAndReload()">
                          <input type="file" name="file">
                          <button type="submit">上传</button>
                      </form>
                      </div>
                  </body>
                  
                  </html>
                  
                  `;
              }
                
              popup.document.write(html);
              }

          </script>
</div>
{% endblock %}