<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transition Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='/css/transition.css') }}">

    

     <script>
        setTimeout(function() {
            var variable = "{{target}}";
            if (variable == "redirectBack"){
                window.history.back();
            }
            else{
                window.location.href = variable;
            }

        }, 3000);
    </script> 
</head>
<body>
    <div class="container">
        <h1>{{message}}</h1>
        <p>正在重新導向...</p>
        <!-- <p>Please wait...</p> -->
    </div>
</body>
</html>